@import 'tailwindcss';

/* Mode class: deklarasikan skema warna eksplisit */
@layer base {
  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }
}

/* scrollbar (opsional) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}
